on:
  push:
    branches:
      - main
    paths:
      - 'nearorder/**'
      - 'test/**'
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - uses: yezz123/setup-uv@v4
      - run: |
          uv sync
          uv run pytest
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: test_cov/coverage.xml